@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'futura medium italic';
  src: url('~/assets/font/futura-medium-italic.otf');
}

@font-face {
  font-family: 'futura bold';
  src: url('~/assets/font/futura-bold.otf');
}

@font-face {
  font-family: 'futura medium';
  src: url('~/assets/font/futura-medium.otf');
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

html {
  scroll-behavior: smooth;
}
